<%- include("header") -%>
  <div class="box title" id="heading">
    <h1><%= listTitle%></h1>
  </div>
  <div class="box">
    <%newListItem.forEach(function(item) {%>
        <form  action="/complete" method="post">
          <div class="item">
          <input type="checkbox" name = "checkbox" value = "<%=item.id%>" onchange="this.form.submit()">
          <p><%=item.name%></p>
          <input type="hidden" name="listName" value="<%=listTitle%>"></input>
        </div>
        </form>
    <%});%>

    <form class="" action="/" method="post">
      <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
      <button type="submit" name="list" value=<%=listTitle%>>+</button>
    </form>
  </div>

  <h1 style="text-align:center">Completed</h1>
  <div class="box">
      <%(typeof completeList != "undefined" ? completeList : []).forEach(function(item) {%>
          <form  action="/delete" method="post">
            <div class="item">
            <input type="checkbox" name = "checkbox" value = "<%=item.id%>" onchange="this.form.submit()">
            <p><%=item.name%></p>
            <input type="hidden" name="listName" value="<%=listTitle%>"></input>
          </div>
          </form>
      <%});%>


  </div>

<%- include("footer") -%>
